<!-- start footer Area -->
<div class="container">
    <div class="row pt-120 pb-80">
        <div class="col-lg-4 col-md-6">
            <div class="single-footer-widget">
                <h6>Acerca de nosotros</h6>
                <p>
                    Somos una entidad de protección de animales, con políticas en contra de la corrupción en todas sus formas, en contra de la
                    eutanasia como método de control de superpoblaciones, de la vivisección, de los espectáculos con animales,
                    del maltrato y el tráfico de especies, con políticas en pro del control de natalidad por medio de la
                    esterilización masiva, la educación y sensibilización ciudadana como medio de control de superpoblación,
                    la que se desarrollará labores en los ámbitos operativos de protección de animales, judicialización de
                    casos contemplados por la ley, generación y difusión de la cultura proteccionista y desarrollo de proyectos
                    entorno de la protección, a fin de combatir las causas del maltrato de animales, paralelamente al atender
                    las consecuencias.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-footer-widget">
                <h6>Links</h6>
                <div class="row">
                    <ul class="col footer-nav">
                        <li>
                            <a ui-sref="/Inicio">Inicio</a>
                        </li>
                        <li>
                            <a ui-sref="/Adopciones">Voluntarios</a>
                        </li>
                        <li>
                            <a ui-sref="/Acerca">Acerca de</a>
                        </li>
                    </ul>
                    <!-- <ul class="col footer-nav">
                        <li>
                            <a href="#">Pricing</a>
                        </li>
                        <li>
                            <a href="#">Team</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-md-6">
            <div class="single-footer-widget mail-chimp">
                <h6 class="mb-20">Contáctanos</h6>
                <ul class="list-contact">
                    <li class="flex-row d-flex">
                        <div class="icon">
                            <span class="lnr lnr-home"></span>
                        </div>
                        <div class="detail">
                            <h4>Cartagena, Colombia</h4>
                            <!-- <p>
                                4343 Hinkle Deegan Lake Road
                            </p> -->
                        </div>
                    </li>
                    <!-- <li class="flex-row d-flex">
                        <div class="icon">
                            <span class="lnr lnr-phone-handset"></span>
                        </div>
                        <div class="detail">
                            <h4>00 (953) 9865 562</h4>
                            <p>
                                Lunes a Viernes de 8am a 6 pm
                            </p>
                        </div>
                    </li> -->
                    <li class="flex-row d-flex">
                        <div class="icon">
                            <span class="lnr lnr-envelope"></span>
                        </div>
                        <div class="detail">
                            <h4>contacto.huellasdeamor@gmail.com</h4>
                            <p>
                                ¡Envianos tus dudas en cualquier momento!
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copyright-text">
    <div class="container">
        <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-6 footer-text m-0 text-white">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
                <i class="fa fa-heart-o" aria-hidden="true"></i> by
                <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            <div class="col-lg-4 col-sm-6 footer-social">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-dribbble"></i>
                </a>
                <a href="#">
                    <i class="fa fa-behance"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End footer Area -->