<div class="header-scrolled container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
        <div id="logo">
            <a ui-sref="/Inicio">
                <img src="img/logo_main.svg" alt="" title="" style="height: 60px;margin-top: -30px;margin-bottom: -40px;" />
            </a>
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active">
                    <a href ui-sref="/Inicio">Inicio</a>
                </li>
                <li class="menu-has-children">
                    <a href>Animales</a>
                    <ul>
                        <li>
                            <a href ui-sref="/Gatos" alt="Gatos">Gatos</a>
                        </li>
                        <li>
                            <a href ui-sref="/Perros" alt="Gatos">Perros</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href ui-sref="/Adopciones" alt="Adopciones">Adopciones</a>
                </li>
                <li>
                    <a href ui-sref="/Acerca" alt="Nosotros">Nosotros</a>
                </li>
                <li>
                    <a ui-sref="/Contacto" alt="Contacto">Contacto</a>
                </li>
                <li>
                    <a ui-sref="/Registrarse" alt="Registrate">Registrate</a>
                </li>
                <!-- <li class="menu-has-children">
                        <a href="">Blog</a>
                        <ul>
                            <li>
                                <a href="blog-home.html">Blog Home</a>
                            </li>
                            <li>
                                <a href="blog-single.html">Blog Single</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-has-children">
                        <a href="">Dropdown</a>
                        <ul>
                            <li>
                                <a href="elements.html">Elements</a>
                            </li>
                            <li>
                                <a href="#">Item</a>
                            </li>
                            <li class="menu-has-children">
                                <a href="">Level 2</a>
                                <ul>
                                    <li>
                                        <a href="#">Item 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Item 2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li> -->
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</div>
<!-- #header -->