<!-- start banner Area -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Gatos
				</h1>
				<p class="text-white link-nav">
					<a ui-sref="/Inicio">Inicio </a>
					<span class="lnr lnr-arrow-right"></span>
					<a ui-sref="/Gatos"> Gatos</a>
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start cat-list Area -->
<section class="cat-list-area section-gap">
	<div class="container">
		<div class="row">
			<div class="col-12 pb-100 float-right">
				<center>
					<div class="input-group-icon mt-10 col-12 col-sm-10 col-md-8 ">
						<div class="icon">
							<i class="fa fa-search pl-2" aria-hidden="true"></i>
						</div>
						<input type="text" name="address" ng-model="filtrarGatos" placeholder="Buscar por nombres, raza, color, etc." onfocus="this.placeholder = ''"
						 onblur="this.placeholder ='Buscar por nombres, raza, color, etc.'" class="single-input border">
					</div>
				</center>
			</div>
			<!-- <div class="col-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="img in ctrl.array_cats | filter: filtrarGatos">
				<div class="single-cat-list">
					<img src="{{img.image}}" alt="" class="img-fluid">
					<div class="overlay">
						<div class="text">
							<span class="font-weight-bold" ng-bind="img.name"></span>
						</div>
					</div>
				</div>
			</div> -->
			<div class="col-12 col-sm-4 col-md-3 col-lg-3" ng-repeat="animal in ctrl.listaAnimal  | filter: {especie:'Gato'} | filter:filtrarGatos">
				<div class="single-cat-list">
					<div ng-click="ctrl.verDetalles(animal);">
						<div class="card pointer card-animals">
							<img src="img/logo_main.svg" class="card-img-top" style="position: absolute; width: 40%;" />
							<img class="card-img-top" ng-src="{{animal.galeria[0].imagen}}" style="height: 190px;">
							<div class="overlay" ng-click="ctrl.verDetalles(animal);">
								<div class="text">
									<span class="font-weight-bold" ng-bind="animal.nombre | uppercase"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12" ng-if="ctrl.listaAnimal.length > 0">
				<center>
					<button ng-hide="ctrl.limit2.cargando || ctrl.limit2.cargando === null" class="btn btn-success circle" ng-click="ctrl.cargarMasGatos();">Cargar
						más
					</button>
					<div ng-show="ctrl.limit2.cargando" class="loader"></div>
				</center>
			</div>
		</div>
	</div>
</section>
<!-- End cat-list Area -->

<!-- Start informacion -->
<section class="process-area section-gap">
		<div class="container">
			<div class="row"> ​
				<div class="generic-blockquote w-100 col-lg-12">
					<h3 class="text-center">En la Fundación Huellas de Amor, consideramos las cinco “libertades” esenciales para los animales</h3>
					<br>
					<ol class="unordered-list">
						<li>
							<p>Libres de hambre y sed.</p>
						</li>
						<li>
							<p>Libres de dolor, lesiones y enfermedades.</p>
						</li>
						<li>
							<p>Libres de incomodidad.</p>
						</li>
						<li>
							<p>Libertad de expresar su comportamiento normal.</p>
						</li>
						<li>
							<p>Libres de miedo y angustia</p>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
<!-- End informacion -->

<!-- Start calltoaction Area -->
<section class="calltoaction-area section-gap relative">
	<div class="container">
		<div class="overlay overlay-bg"></div>
		<div class="row align-items-center justify-content-center">
			<h1 class="text-white">¿Quieres ayudarnos? Registrate!</h1>
			<p class="text-white">
				Unete y podrás ayudarnos, realizar solicitudes de adopcion para tener a un nuevo integrante para tu familia...
			</p>
			<div class="buttons w-100">
				<center>
					<a ui-sref="/Registrarse" class="primary-btn text-uppercase">Registrate ahora</a>
				</center>
			</div>
		</div>
	</div>
</section>
<!-- End calltoaction Area -->

<ng-include src="'partials/modalVerAnimal.html'"></ng-include>