<!-- start banner Area -->
<section class="banner-area relative" id="home" style="background-image: url(img/call-bg.jpg) !important;">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Contáctanos
				</h1>
				<p class="text-white link-nav">
					<a ui-sref="/Inicio">Inicio </a>
					<span class="lnr lnr-arrow-right"></span>
					<a ui-sref="/Acerca"> Contactanos</a>
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start contact-page Area -->
<section class="contact-page-area section-gap" ng-controller="contactController as contactCtrl">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 d-flex flex-column address-wrap">
				<div class="single-contact-address d-flex flex-row">
					<div class="icon">
						<span class="lnr lnr-home"></span>
					</div>
					<div class="contact-details">
						<h5>Cartagena de indias</h5>
						<!-- <p>4343 Hinkle Deegan Lake Road</p> -->
					</div>
				</div>
				<!-- <div class="single-contact-address d-flex flex-row">
					<div class="icon">
						<span class="lnr lnr-phone-handset"></span>
					</div>
					<div class="contact-details">
						<h5>00 (953) 9865 562</h5>
						<p>Mon to Fri 9am to 6 pm</p>
					</div>
				</div> -->
				<div class="single-contact-address d-flex flex-row">
					<div class="icon">
						<span class="lnr lnr-envelope"></span>
					</div>
					<div class="contact-details">
						<h5>contacto.huellasdeamor@gmail.com</h5>
						<p>¡Envianos tus dudas en cualquier momento!</p>
					</div>
				</div>
			</div>
			<div class="col-lg-7">
				<form class="form-area " id="myForm" ng-submit="contactCtrl.onSendMensaje();" name="contactForm" class="contact-form text-right">
					<div class="row">
						<div class="col-lg-6 form-group">
							<div class="form-group">
								<label for="name">Nombre</label>
								<input name="fname" ng-model="contactCtrl.msg.name" placeholder="Ingresar nombre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingresar nombre'"
								 class="common-input form-control" required type="text">
								<span style="color: red;" ng-show="contactForm.fname.$invalid && !contactForm.fname.$pristine">Campo requerido</span>
							</div>

							<div class="form-group">
								<label for="Correo">Correo</label>
								<input name="email" ng-model="contactCtrl.msg.email" placeholder="Ingresar correo" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
								 onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingresar correo'" class="common-input form-control" required
								 type="email">
								<span style="color: red;" ng-show="contactForm.email.$invalid && !contactForm.email.$pristine">Campo requerido o formato inválido</span>
							</div>

							<div class="form-group">
								<label for="Asunto">Asunto</label>
								<input name="subject" ng-model="contactCtrl.msg.subject" placeholder="Ingresar asunto" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingresar asunto'"
								 class="common-input form-control" required type="text">
								<span style="color: red;" ng-show="contactForm.subject.$invalid && !contactForm.subject.$pristine">Campo requerido</span>
							</div>

						</div>
						<div class="col-lg-6 form-group">
							<label for="Asunto">Mensaje</label>
							<textarea class="common-textarea form-control" ng-model="contactCtrl.msg.body" name="message" placeholder="Ingresar mensaje"
							 onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingresar mensaje'" required style="resize: none;"></textarea>
							<span style="color: red;" ng-show="contactForm.message.$invalid && !contactForm.message.$pristine">Campo requerido</span>
						</div>
						<div class="col-lg-12 d-flex justify-content-center" ng-show="!contactCtrl.loadingMsg">
							<button type="submit" class="genric-btn primary" ng-class="{'primary-btn':contactForm.$valid, 'genric-btn disable':contactForm.$invalid}"
							ng-disabled="contactForm.$invalid || contactCtrl.loadingMsg">ENVIAR MENSAJE</button>
						</div>
						<div class="col-lg-12 d-flex justify-content-center" ng-show="contactCtrl.loadingMsg">
							<div class="loader"></div>
						</div>
					</div>
				</form>
			</div>
			<!-- <div class="map-wrap" style="width:100%; height: 445px;" id="map"></div> -->
		</div>
	</div>
</section>
<!-- End contact-page Area -->