<!-- Start floating button -->

<a href="https://wa.me/573012603457" target="_blank" class="floating-button">
	<i class="fa fa-whatsapp fa-2x" style="color: white;"></i>		
</a>		

<!-- End floating button -->


<!-- start banner Area -->
<section class="banner-area index relative h-100" id="home">
	<div class="container">
		<div class="overlay overlay-bg"></div>
		<div class="row fullscreen d-flex align-items-center justify-content-start">
			<div class="banner-content col-lg-8 col-md-12">
				<h1 class="text-uppercase">
					¡Adóptanos!
					<br> Nosotros necesitamos tu ayuda.
				</h1>
				<p class="text-white sub-head">
					Contigo tendremos un hogar, una familia que nos va a brindar todo su amor incondicional.
				</p>
				<a href="#" class="primary-btn header-btn text-uppercase">Encontrar una mascota</a>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start image-carusel Area -->
<section class="image-carusel-area">
	<div class="container">
		<div class="active-image-carusel row mt-5">
			<div class="single-image-carusel d-inline-block col-3 p-0">
				<img class="img-fluid" src="img/c1.jpg" alt="">
			</div>
			<div class="single-image-carusel d-inline-block col-3 p-0">
				<img class="img-fluid" src="img/c2.jpg" alt="">
			</div>
			<div class="single-image-carusel d-inline-block col-3 p-0">
				<img class="img-fluid" src="img/c3.jpg" alt="">
			</div>
			<div class="single-image-carusel d-inline-block col-3 p-0">
				<img class="img-fluid" src="img/c4.jpg" alt="">
			</div>
		</div>
	</div>
</section>
<!-- End image-carusel Area -->

<!-- Start callto-top Area -->
<section class="callto-top-area section-gap">
	<div class="container">
		<div class="row justify-content-between callto-top-wrap pt-40 pb-40">
			<div class="col-lg-8 callto-top-left">
				<h1>¡Selecciona tu mascota favorita!</h1>
				
				<p class="ml-4">
					Si ya conoces el código del animal que quieres, dale clic en "Iniciar Solicitud".
				</p>
			</div>
			<div class="col-lg-4 callto-top-right">
				<a ui-sref="/Adopciones" class="primary-btn">INICIAR SOLICITUD</a>
			</div>
		</div>
	</div>
</section>
<!-- End callto-top Area -->


<!-- Start image animal Area -->
<section class="cat-list-area section-gap pt-0">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 pointer" ng-repeat="animal in ctrl.listaAnimal | limitTo:12">
				<div class="single-cat-list">
					<div ng-click="ctrl.verDetalles(animal);">
						<div class="card pointer card-animals">
							<img src="img/logo_main.svg" style="position: absolute; width: 40%; top: 5px;" />
							<!-- <img src="img/unnamed.jpg" style="position: absolute; width: 20%; bottom: 0px; right: 10px;" /> -->
							<img class="img-fluid" ng-src="{{animal.galeria[0].imagen}}" style="height: 100%;;">
							<div class="overlay" ng-click="ctrl.verDetalles(animal);">
								<div class="text">
									<span class="font-weight-bold" ng-bind="animal.nombre | uppercase"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12" ng-if="ctrl.listaAnimal.length == 0">
		<center>
			<p>Cargando animales...</p>
			<div class="loader"></div>
		</center>
	</div>
</section>
<ng-include src="'partials/modalVerAnimal.html'"></ng-include>
<!-- End image animal Area -->

<!-- Start callto-top Area -->
<section class="callto-top-area section-gap">
	<div class="container">
		<div class="row justify-content-between callto-top-wrap pt-40 pb-40">
			<div class="col-lg-8 callto-top-left">
				<h1>
					¿Quieres ver nuestras actividades?
				</h1>
				<p class="ml-4">Estas son las actividades que realizamos en la fundación.</p>
			</div>
			<div class="col-lg-4 callto-top-right">
				<a ui-sref="/Acerca" class="primary-btn">VER ACTIVIDADES</a>
			</div>
		</div>
	</div>
</section>
<!-- End callto-top Area -->

<!-- Start process Area -->
<section class="process-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Proceso para adoptar una mascota</h1>
					<p>Estos son los sencillos pasos para realizar una solicitud de adopción totalmente gratuita.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-process">
					<a ui-sref="/Registrarse">
						<span class="lnr lnr-user"></span>
						<h4>
							Regístrate
						</h4>
					</a>
					<p>
						Únete a nuestra fundación como un usuario para poder realizar solicitudes, si ya haces parte de nosotros continua
						con el
						siguiente paso.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-process">
					<a href>
						<span class="lnr lnr-thumbs-up"></span>
						<h4>
							Selección de mascota
						</h4>
					</a>
					<p>
						Escoge tu animal favorito y dale clic en "Iniciar Solicitud" para empezar el proceso. </p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-process">
					<a href>
						<span class="lnr lnr-checkmark-circle"></span>
						<h4>
							Confirma tus datos
						</h4>
					</a>
					<p>
						En la pestaña "Adopciones" ingresa con tu correo e identificación más el código del animal y automáticamente tus
						datos aparecerán
						para que los confirmes o los actualices.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-process">
					<a href>
						<span class="lnr lnr-clock"></span>
						<h4>
							Esperar respuesta
						</h4>
					</a>
					<p>
						Al finalizar la solicitud solo debes esperar a que sea respondida a través de tu correo o número de teléfono en
						un plazo
						máximo de 8 días.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-process">
					<a href>
						<span class="lnr lnr-license"></span>
						<h4>
							Legalizar adopción
						</h4>
					</a>
					<p>
						Una vez sea aceptada tu solicitud, deberás legalizar el proceso firmando el acta de compromiso de adopción que se
						te entregará.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-process">
					<a href>
						<span class="lnr lnr-home"></span>
						<h4>
							Llévalo a casa
						</h4>
					</a>
					Finalmente podrás llevarlo a casa como un nuevo integrante de tu familia. </p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End process Area -->


<!-- Start testomial Area -->
<section class="testomial-area section-gap" id="testimonail">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Testimonios</h1>
					<p>Estas son las opiniones de nuestros adoptantes.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="active-testimonial-carusel w-100">
				<p class="position-relative arrow-slide">
					<a href class="fa fa-angle-right fa-4x float-right p-3" ng-click="ctrl.cambiarTestimonio(-1);"></a>
					<a href class="fa fa-angle-left fa-4x float-left p-3" ng-click="ctrl.cambiarTestimonio(1);"></a>
				</p>
				<div class="single-testimonial item">
					<img class="mx-auto img-rounded" ng-src="{{ctrl.testimonio.imagen}}" width="auto" height="150px">
					<p class="desc" ng-bind="ctrl.testimonio.descripcion"></p>
					<h4 ng-bind="ctrl.testimonio.nombre_persona"></h4>
					<p>Adoptante</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End testomial Area -->

<!-- Start calltoaction Area -->
<section class="calltoaction-area section-gap relative">
	<div class="container">
		<div class="overlay overlay-bg"></div>
		<div class="row align-items-center justify-content-center">
			<h1 class="text-white">¿Quieres ayudarnos? ¡Registrate!</h1>
			<p class="text-white">
				Unete y podrás ayudarnos. Realiza solicitudes de adopción para tener a un nuevo integrante para tu familia...
			</p>
			<div class="buttons w-100">
				<center>
					<a ui-sref="/Registrarse" class="primary-btn text-uppercase">Registrate ahora</a>
				</center>
			</div>
		</div>
	</div>
</section>
<!-- End calltoaction Area -->